<html th:insert="~{layout/common :: common(~{::main})}">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<main class="main-default">

    <h1>Hei</h1>

<!--    <div class="container">-->

<!--        <form method="post" action="target-page">-->
<!--            <label for="gameName">Hvilket spill</label>-->
<!--            <input type="text" id="gameName" name="gameName" required><br><br>-->

<!--            <label for="title">Overskrift</label>-->
<!--            <input type="text" id="title" name="title" required><br><br>-->

<!--            <label for="dato">Klokkeslett</label>-->
<!--            <input type="text" id="dato" name="dato" required><br><br>-->

<!--            <input type="submit" value="Publiser">-->

<!--        </form>-->


<!--</div>-->

    <a th:href="@{/}">Back</a>
</main>
</body>
</html>